aio-pika
Cython
fastapi
h5py
nltk
numpy==1.19.3
overrides
pandas
pytz
pydantic
pymorphy2
pymorphy2-dicts-ru
pyopenssl
pytelegrambotapi
requests
ruamel.yaml
rusenttokenize
scikit-learn
scipy
tqdm
click
uvicorn
sacremoses